In [1]:
import pandas as pd
import  numpy as np
from triton.language.semantic import less_than

data= pd.read_csv("orders.csv", sep=',')

data['city_id'].nunique()   # number of unique cities

# Переписываем запросы с учетом названий столбцов
# 1. Количество уникальных городов (используем city_id)
unique_cities = data['city_id'].nunique()

# 2. Количество ресторанов, специализирующихся на рыбе (заменим 'fish' на подходящее значение)
fish_restaurants = data[data['spec'] == 'Рыба']['vendor_id'].nunique()

# 3. Количество колонок типа float64
float_columns = data.select_dtypes(include='float64').shape[1]

# 4. Количество дней с менее чем 20 успешными заказами для ресторана с ID 40065 (используем vendor_id и successful_orders)
days_with_few_orders = data[(data['vendor_id'] == 40065) & (data['successful_orders'] < 20)].shape[0]

(unique_cities, fish_restaurants, float_columns, days_with_few_orders)

(4, 18, 2, 45)

In [10]:
fish_count = (data['spec'] == 'Рыба').sum()
fish_count

1103

In [11]:
fish_count = data['spec'].value_counts()['Рыба']
print(fish_count)  # This will give you the count of rows where the 'spec' column is 'Рыба'.

1103

In [ ]:
fish_count = len(data.loc[data['spec'] == 'Рыба'])
print(fish_count) # This will also give you the count of rows where the 'spec' column is 'Рыба'.

In [14]:
data.dtypes  # two columns have float64 as datatype

date                  object
vendor_id              int64
chain_id               int64
city_id                int64
spec                  object
successful_orders    float64
fail_orders          float64
dtype: object

In [ ]:

data.head()  # need to get the days the restaurant with the id 40065 has less than 20 successful order

mask = (data['chain_id'] == 40065) & (data['successful_orders'] < 20)
result = data[mask].shape[0]
print(f"Ресторан с идентификатором 40065 имел менее 20 успешных заказов в {result} днях.")

In [42]:
# Numpy

# Create a NumPy vector that contains values from 10 to 500. Square all the values of the vector and subtract the number 234 from each element of the vector. What is the sum of all the elements of the resulting vector?
import numpy as np


npArr=np.square(np.arange(10, 500))
npArr  # or we could have done npArr = np.arange(10, 500) squared_arr = np.square(npArr)

npArr-=234
np.sum(npArr)

41426805