# Функции

In [ ]:
# help(print)
?print

In [ ]:
# пишем docstring к своей функции
def square(number):
    """
    this is my function
    """
    result = number ** 2
    return result

In [ ]:
?square

In [ ]:
print(square.__doc__)

    this is my function

In [ ]:
# если не указан return, функция всегда возвращает None!
def square_3(number):
    result = number ** 2
    # print(result)
    # return None
    # return
print(square_3(5))

None

In [ ]:
square_3(5)

### Аннотация типов

In [ ]:
def get_sum(x: int, y: int = 3) -> int:
  return x + y

get_sum(1)

4

In [ ]:
get_sum('все равно ', 'работает')

'все равно работает'

### Передача в функции списка

In [ ]:
def extender(source_lst, new_lst):
    # source_lst = source_lst.copy()
    source_lst.extend(new_lst)
    return source_lst

values = [1, 2, 3]
extender(values, [3, 4, 4])

[1, 2, 3, 3, 4, 4]

In [ ]:
values

[1, 2, 3, 3, 4, 4]

In [ ]:
def sorting(source_lst):
    # source_lst = source_lst.copy()
    source_lst.sort()
    return source_lst

values = [3, 2, 1]
sorting(values)

[1, 2, 3]

In [ ]:
values

[1, 2, 3]

### Области видимости

In [ ]:
number = 5
power = 3

def power_2():
    number = 6
    power = 2
    return number ** power

print(power_2())
print(number ** power)

36
125

In [ ]:
number = 5
power = 3

def power_2():
    number = 6
    return number ** power

print(power_2())
print(number ** power)

216
125

In [ ]:
number = 5
power = 3

def power_2():
    return number ** power

power_2()

125

In [ ]:
def power_2():
    number = 6
    power = 2
    some_number = 1
    return number ** power

print(power_2())
print(some_number)

36

NameError: name 'some_number' is not defined

### lambda-функции

In [ ]:
nums = [1, 2, 3, 4, 5]

In [ ]:
# even_numbers = lambda x: x % 2 == 0
odd_even_numbers = lambda x: 'even' if x % 2 == 0 else 'odd'

In [ ]:
for num in nums:
    print(odd_even_numbers(num))

odd
even
odd
even
odd

In [ ]:
def odd_even_numbers_func(num):
    return 'even' if num % 2 == 0 else 'odd'

In [ ]:
for num in nums:
    print(odd_even_numbers_func(num))

odd
even
odd
even
odd

In [ ]:
# функция map
# list(map(odd_even_numbers, nums))
list(map(odd_even_numbers_func, nums))

['odd', 'even', 'odd', 'even', 'odd']

#### Отсортируем словарь по значениям

In [ ]:
my_dict = {
    'id1': 65,
    'id2': 12,
    'id3': 77
}

In [ ]:
sorted(my_dict.values())

[12, 65, 77]

In [ ]:
res = {}
for sorted_value in sorted(my_dict.values()):
    for key, value in my_dict.items():
        if sorted_value == value:
           res[key] = sorted_value

print(res)

{'id2': 12, 'id1': 65, 'id3': 77}

#### Отсортируем словарь без циклов

In [ ]:
my_dict.items()

dict_items([('id1', 65), ('id2', 12), ('id3', 77)])

In [ ]:
dict(sorted(my_dict.items(), key=lambda x: x[1]))

{'id2': 12, 'id1': 65, 'id3': 77}

### Args and kwargs

In [ ]:
def api_request(*params, **kwargs):
    date_start = params[0]
    date_end = params[1]
    print(params)
    print(date_start, date_end)

In [ ]:
api_request(1, 2, 3)

(1, 2, 3)
1 2

In [ ]:
api_request(report=2, date=1, output=3)

IndexError: tuple index out of range

In [ ]:
api_request('2019-01-01', '2019-01-31', report=2, date=1, output=3)

('2019-01-01', '2019-01-31')
2019-01-01 2019-01-31

In [ ]:
def api_requets(**params):
    return params

In [ ]:
api_requets(a=1, b=2, c=3, date='2020-01-01')

{'a': 1, 'b': 2, 'c': 3, 'date': '2020-01-01'}

In [ ]:
def api_request(**params):
    date_start = params['date_start']
    date_end = params['date_end']
    print(params)
    print(date_start, date_end)

In [ ]:
api_request(date_start='2019-01-31', report='traffic', date_end='2019-01-01')

{'date_start': '2019-01-31', 'report': 'traffic', 'date_end': '2019-01-01'}
2019-01-31 2019-01-01

In [ ]:
def printer(*args):
    print(type(args))
    print(args)
    for i in args:
        print(i)

printer(1, 2, 3)

<class 'tuple'>
(1, 2, 3)
1
2
3

In [ ]:
printer(1)

<class 'tuple'>
(1,)
1

In [ ]:
printer([1, 2, 3], (1, 2, 3), 1, 23)

<class 'tuple'>
([1, 2, 3], (1, 2, 3), 1, 23)
[1, 2, 3]
(1, 2, 3)
1
23

In [ ]:
printer(*[1, 2, 3], (1, 2, 3), 1, 23)

<class 'tuple'>
(1, 2, 3, (1, 2, 3), 1, 23)
1
2
3
(1, 2, 3)
1
23

In [ ]:
names = ['John', 'Nick', 'Bill']
printer(names)

<class 'tuple'>
(['John', 'Nick', 'Bill'],)
['John', 'Nick', 'Bill']

In [ ]:
printer(*names)

<class 'tuple'>
('John', 'Nick', 'Bill')
John
Nick
Bill

In [ ]:
def printer(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for key, value in kwargs.items():
        print(f'{key} - {value}')

printer(a=10, b='20')

<class 'dict'>
{'a': 10, 'b': '20'}
a - 10
b - 20

In [ ]:
printer(key1='value1')

<class 'dict'>
{'key1': 'value1'}
key1 - value1

In [ ]:
user_info = {
    'name': 'John',
    'age': 18
}

printer(**user_info)

<class 'dict'>
{'name': 'John', 'age': 18}
name - John
age - 18

In [ ]:
printer(name='John', age=18)

<class 'dict'>
{'name': 'John', 'age': 18}
name - John
age - 18

## Комплексный пример

In [ ]:
students_list = [
    {"name": "Василий", "surname": "Теркин", "gender": "м", "program_exp": True, "grade": [8, 8, 9, 10], "exam": 8},
    {"name": "Мария", "surname": "Павлова", "gender": "ж", "program_exp": True, "grade": [7, 8, 9, 7, 9], "exam": 9},
    {"name": "Ирина", "surname": "Андреева", "gender": "ж", "program_exp": False, "grade": [10, 9, 8, 10], "exam": 7},
    {"name": "Татьяна", "surname": "Сидорова", "gender": "ж", "program_exp": False, "grade": [7, 8, 8, 9, 8],"exam": 10},
    {"name": "Иван", "surname": "Васильев", "gender": "м", "program_exp": True, "grade": [9, 8, 9, 6, 9, 4], "exam": 5},
    {"name": "Роман", "surname": "Золотарев", "gender": "м", "program_exp": False, "grade": [8, 9, 9, 6, 9], "exam": 6}
]

In [ ]:
def filter_students(students, gender=None, program_exp=None):
    res = []

    for student in students:
        if (student['gender'] == gender or gender is None) \
           and (student['program_exp'] is program_exp or program_exp is None):
            res.append(student)

    return res


# print(filter_students(students_list, 'м', True))
# print(filter_students(students_list, 'ж', False))
# print(filter_students(students_list, 'м'))
# print(filter_students(students_list, None, False))
print(filter_students(students_list, program_exp=True))

[{'name': 'Василий', 'surname': 'Теркин', 'gender': 'м', 'program_exp': True, 'grade': [8, 8, 9, 10], 'exam': 8}, {'name': 'Мария', 'surname': 'Павлова', 'gender': 'ж', 'program_exp': True, 'grade': [7, 8, 9, 7, 9], 'exam': 9}, {'name': 'Иван', 'surname': 'Васильев', 'gender': 'м', 'program_exp': True, 'grade': [9, 8, 9, 6, 9, 4], 'exam': 5}]

In [ ]:
def get_avg_grade(students):
    sum_ = 0

    for student in students:
        sum_ += sum(student['grade']) / len(student['grade'])

    return round(sum_ / len(students), 2)

print(get_avg_grade(students_list))

8.28

In [ ]:
def sort_students(students):
    return sorted(
        students,
        key=lambda student: student['name']
        )

sort_students(students_list)

[{'name': 'Василий',
  'surname': 'Теркин',
  'gender': 'м',
  'program_exp': True,
  'grade': [8, 8, 9, 10],
  'exam': 8},
 {'name': 'Иван',
  'surname': 'Васильев',
  'gender': 'м',
  'program_exp': True,
  'grade': [9, 8, 9, 6, 9, 4],
  'exam': 5},
 {'name': 'Ирина',
  'surname': 'Андреева',
  'gender': 'ж',
  'program_exp': False,
  'grade': [10, 9, 8, 10],
  'exam': 7},
 {'name': 'Мария',
  'surname': 'Павлова',
  'gender': 'ж',
  'program_exp': True,
  'grade': [7, 8, 9, 7, 9],
  'exam': 9},
 {'name': 'Роман',
  'surname': 'Золотарев',
  'gender': 'м',
  'program_exp': False,
  'grade': [8, 9, 9, 6, 9],
  'exam': 6},
 {'name': 'Татьяна',
  'surname': 'Сидорова',
  'gender': 'ж',
  'program_exp': False,
  'grade': [7, 8, 8, 9, 8],
  'exam': 10}]

In [ ]:
def main(students):
    while True:
        user_input = input('Введите команду: ')

        if user_input == 'q':
            print('Выход')
            break

        elif user_input == '1':
            print(get_avg_grade(students))

        elif user_input == '2':
            print(get_avg_grade(filter_students(students, program_exp=True)))

        elif user_input == '3':
            print(sort_students(students))


main(students_list)

Введите команду: 2
8.08
Введите команду: 1
8.28
Введите команду: q
Выход

# Практика

## 🧠

Напишем функцию, которая будет находить среднюю цену квартиры по всем переданным в нее районам города

In [ ]:
district_1 = {'flat_1': 10500, 'flat_2': 11000}
district_2 = {'flat_1': 15000}
district_3 = {'flat_1': 6500, 'flat_2': 7000, 'flat_3': 6000}

(10500, 11000, 15000, 6500, 7000, 6000)

9333.333333333334

### 🧠 (ответ)

In [ ]:
def get_avg_price(*distrcits):
    print(distrcits)
    return round(sum(distrcits) / len(distrcits), 2)

get_avg_price(*district_1.values(), *district_2.values(), *district_3.values())

(10500, 11000, 15000, 6500, 7000, 6000)

9333.33

## 🧠 Медиана
Напишите функцию, которая принимает произвольное число параметров и вычисляет медиану:

Медианой набора {11, 9, 3, 5, 5} является число 5, так как оно стоит в середине этого набора после его упорядочивания: {3, 5,
5, 9, 11}. Если в выборке чётное число элементов, считать медианой полусумму двух соседних значений (то есть медиану
набора {1, 3, 5, 7} принимают равной 4).


Для проверки работоспособности функции используйте следующий код:
```
assert median() == 0
assert median(1, 2, 6) == 2
assert median(1, 2, 6, 19) == 4
```

In [ ]:
num = 120

assert num == 0, 'num не ноль'

AssertionError: ignored

In [ ]:
#@title Решение

def median(*numbers):
    n = len(numbers)
    if n == 0:
        return 0
    if n % 2 == 0:
        return (numbers[(n-1)//2] + numbers[n//2]) / 2
    return numbers[n//2]


assert median() == 0
assert median(1, 2, 6) == 2
assert median(1, 2, 6, 19) == 4

## 🧠 Сумма квадратов положительных чисел
Дана последовательность целых чисел. Вычислите с помощью лямбда-функций сумму квадратов положительных элементов.Шаблон программы:

```
import functools
nums = [2, -1, 4]
nums_filtered = filter(...)
nums_squared = map(...)
nums_sum = functools.reduce(...)
assert nums_sum == 20
```

20

In [ ]:
#@title Решение
import functools

nums = [2, -1, 4]

nums_filtered = filter(lambda x: x > 0, nums)
nums_squared = map(lambda x: x * x, nums_filtered)
nums_sum = functools.reduce(lambda x, y: x + y, nums_squared)

assert nums_sum == 20

# Что дальше

Файлы https://colab.research.google.com/drive/1U-om1Av71MVzTLCbJnq4XEf5EnZpKiiK