Задание 1. Расчет статистических показателей подписчиков социальной сети

Вам даны показатели прироста подписчиков за месяц в 300 аккаунтах социальной сети, которые сохранены в объект DataFrame с именем list_metrics:

Выполните следующие задания применительно к исходным данным:

    Рассчитайте стандартное отклонение прироста подписчиков. Результат округлите до второго знака после запятой и сохраните в переменную result1.
    Рассчитайте размах прироста подписчиков. Результат округлите до второго знака после запятой и сохраните в переменную result2.


Обратите внимание: в заданиях не требуется выполнять вывод полученных результатов на экран.

In [2]:
# начальный код

import random
import pandas as pd

random.seed(10)

list_metrics = []

for i in range(0,300):
  n = random.randint(-100,1000)
  list_metrics.append(n)

list_metrics = pd.DataFrame({'Прирост': list_metrics})

# далее будет код шаблона
result1=round((list_metrics['Прирост'].std()),2)


result2=round(list_metrics['Прирост'].max()-list_metrics['Прирост'].mean(),2)

Задание 2.1 Исследование датасета

В этом задании предлагаем вам поработать с датасетом Pandas practices , который содержит данные об автомобилях, остановленных полицией.

Исследование датасета будет состоять из нескольких частей. Чтобы проверить, как вы справились с заданием, в некоторых заданиях мы будем просить вас записать получившийся результат, в других — попросим записать код.

Рекомендуем вам скачать датасет , самостоятельно создать Python-ноутбук для его выполнения, а в LMS прикладывать лишь требуемые результаты.

Итак, для начала предлагаем проверить набор данных на наличие пропусков.

Определите название колонки, в которой больше всего пропусков, и запишите ее название в поле ответов.

In [3]:
df = pd.read_csv('police.csv')

missing_values = df.isnull().sum()

column_with_most_missing_values = missing_values.idxmax()
print(column_with_most_missing_values)

county_name

Задание 2.2 Исследование датасета (продолжение)

Мы продолжаем работать с датасетом Pandas practices. В этом задании вам необходимо написать программу, которая удаляет столбец с наибольшим количеством пропусков. 

Подсказка: используйте результаты ранее выполненного задания, выводить на экран ничего не требуется.

In [ ]:
police = pd.read_csv('police.csv', sep=',')
police.drop(['county_name'], axis = 1 , inplace = True)

Задание 2.3 Исследование датасета (продолжение)

Мы продолжаем работать с датасетом Pandas practices . Исследуйте данные и ответьте на вопросы:


1. Водителей какого пола в датасете больше?
- Выберите один ответ:
   - мужчин
   - невозможно определить
   - женщин

In [ ]:
import pandas as pd

data=pd.read_csv("police.csv", sep=",")   # sep is used for in case the data in the original table are seperated using a seperator, so we tell how to read the data
data["driver_gender"].value_counts()

2. Какие утверждения являются истинными? (вопрос с подвохом)
   - Выберите один или несколько ответов:
    - Чаще всего останавливают мужчин в возрасте от 40 до 50 лет
   - Мужчин останавливают чаще, чем женщин
    - Остановлено менее 50 водителей-женщин в возрасте старше 80 лет
    - Остановлено более 3 тыс. водителей в возрасте 20 лет

In [5]:
# NEED TO GET THE NUMBER OF TIMES POLICE STOP PEOPLE


# Load the dataset
df = pd.read_csv('police.csv')


# Statement 2: Чаще всего останавливают мужчин в возрасте от 40 до 50 лет
stops_by_age = df[df['driver_gender'] == 'M']['driver_age'].value_counts()
print("Statement 2:", stops_by_age.index[0] >= 40 and stops_by_age.index[0] <= 50)

# Statement 3: Остановлено более 3 тыс. водителей в возрасте 20 лет
stops_at_20 = df[df['driver_age'] == 20].shape[0]  #returns the first shape, if the matrix is 2*3 then shape[0] is 2
print("Statement 3:", stops_at_20 > 3000)

# Statement 4: Остановлено менее 50 водителей-женщин в возрасте старше 80 лет
stops_female_over_80 = df[(df['driver_gender'] == 'F') & (df['driver_age'] > 80)].shape[0]
print("Statement 4:", stops_female_over_80 < 50)

# Спасибо за ваше решение! Вы получили нужный результат!
# 
# Чтобы получить ответ на вопрос, водителей какого пола в датасете больше, используйте код:
# 
# police['driver_gender'].value_counts(normalize=True)
# 
# Утверждения “Остановлено более 3 тыс. водителей в возрасте 20 лет” и “Остановлено менее 50 водителей-женщин в возрасте старше 80 лет” являются истинными. Чтобы проверить это используйте код: 
# 
# 
# df[df['driver_age']==20.].shape[0]
# 
# df[(df['driver_gender']=='F') &
# 
# df[(df['driver_gender']=='F') & (df['driver_age']>80.)].shape[0
#

Statement 1: True
Statement 2: False
Statement 3: True
Statement 4: True

 Однако, утверждать, что “Чаще всего останавливают мужчин в возрасте от 40 до 50 лет” и “Мужчин останавливают чаще, чем женщин” мы не можем, так как мы не знаем пропорции по водителям в генеральной совокупности.

Задание 3. Исследование произвольных данных

Что нужно сделать:

    Создайте Python-ноутбук, загрузите в него данные о цветках Ириса (используйте для этого функцию load_iris() из sklearn.datasets) и преобразуйте в объект DataFrame для дальнейшего изучения.

Вопрос 1.	Сколько строк и колонок в таблице? 
- В поле ответов введите два числа через запятую без пробела (например: 10,10)

In [13]:
from sklearn.datasets import load_iris

iris = load_iris()

# Convert the dataset to a Pandas DataFrame
import pandas as pd

iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df['species'] = iris.target

# Print the number of rows and columns in the DataFrame
print(iris_df.shape)


    # 
    # Чтобы начать работу с датасетом, используйте функцию load_iris() в Python-ноутбук. Для этого используйте библиотеку sklearn.
    # Для того, чтобы получить объект DataFrame, вы можете использовать параметр as_frame при вызове функции load_iris(). Тогда в атрибуте frame будет храниться датасет в виде DataFrame.

(150, 5)

Вопрос 2.  Какие в ней данные? Как они распределены? Рассчитайте минимальные и максимальные значения переменных, медиану и тд - попробуйте с помощью отдельных функций min(), max() и тд., и используя функцию для describe() получения описательной статистики. Среднее значение какой колонки оказалось самым большим? Введите в поле ответов название этой колонки.

In [11]:
# Replace target values with target names
# iris_df.count()
# 
# iris_df.describe()
# 
# average_values = iris_df.mean()
# 
# highest_average_column = average_values.idxmax()
# 
# 
# print("\nAverage values:\n", average_values)
# 
# print("\nColumn with the highest average value:", highest_average_column)

# To find the number of null values
# 
# iris_df.fillna(0, inplace=True)
# iris_df.drop_duplicates(inplace=True)
# num_samples=iris_df.shape[0]

# num_samples
    
    # Чтобы получить количество пустых значений (NaN), используйте функцию isna().
    # Чтобы получить заменить пустые значения (NaN) на нули, используйте функцию fillna().
    # Чтобы получить количество дублирующихся строк, используйте функцию duplicated().
    # Чтобы удалить дублирующиеся строки, используйте функцию drop_duplicates().

Average values:
 sepal length (cm)    5.843624
sepal width (cm)     3.059732
petal length (cm)    3.748993
petal width (cm)     1.194631
species              0.993289
dtype: float64

Column with the highest average value: sepal length (cm)

Вопрос 3.	Строки датасета соответствуют образцам (цветкам Ириса). Первые 4 колонки являются признаками, которые описывают образцы длина чашелистика, ширина чашелистика, длина лепестка, ширина лепестка (в см). Последняя колонка называется target. В ней содержится информация о принадлежности цветка к определенному виду (Iris setosa, Iris virginica или Iris versicolor). Вы можете посмотреть атрибут target_names, чтобы узнать соответствие между значениями из колонки target и названиями видов. Замените значения в колонке target значениями, которые хранятся в атрибуте target_names. Сколько цветков каждого вида Ириса содержится в датасете? В поля ответов введите целочисленное значение.

- setosa    	  Ответ

- versicolor	 Ответ

- virginica 	 Ответ

In [16]:
iris_df.count()

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
species              150
dtype: int64

Вопрос 4.  Проверьте, есть ли пустые значения в таблице (NaN), если есть - замените их на нули. Проверьте, есть ли дублирующиеся строки - если да, то удалите дубликаты. Сколько осталось образцов в датасете? В поле ответов введите целочисленное значение.
Ответ:

In [ ]:
iris_df.fillna(0, inplace=True)
iris_df.drop_duplicates(inplace=True)
num_samples=iris_df.shape[0]

num_samples

Вопрос 5.	Создайте новую колонку, в которой будет сумма числовых значений для каждого образца, деленная на значение первого признака (sepal length (cm)). Отсортируйте таблицу по возрастанию новой колонки. В поле ответов введите число из новой колонки, полученное для 102 строки датасета (номер строки указан порядковый) и округлены до 3-го знака после запятой. В качестве разделителя дробной и целой части используйте символ точки «.».

In [ ]:
import pandas as pd



# Calculate the new column and sort the table
iris_df['new_column'] = iris_df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']].sum(axis=1) / iris_df['sepal length (cm)']
iris_df.sort_values(by='new_column', inplace=True)

# Get the value for the 102nd row
value = iris_df.iloc[101]['new_column']  # Index 101 is used because Python uses 0-based indexing

print("Value for the 102nd row:", round(value, 3))

    # 
    # Чтобы рассчитать сумму числовых значений для каждого образца, используйте функцию sum(). Обратите внимание на параметры axis и numeric_only.
    # Чтобы отсортировать таблицу по возрастанию новой колонки, используйте функцию sort_values().
    # Чтобы получить строку по ее порядковому номеру, используйте функцию iloc.

Вопрос 6.	Сгруппируйте по виду Ириса и рассчитайте среднее для признака sepal width (cm). В поле ответов введите название вида Ириса с наименьшим средним значением для признака sepal width (cm). Название вида должно соответствовать названиям из атрибута target_names.

In [ ]:
setosa  ##this is wrong