Задание 2.1 Исследование датасета
В этом задании предлагаем вам поработать с датасетом Pandas practices , который содержит данные об автомобилях, остановленных полицией.

Исследование датасета будет состоять из нескольких частей. Чтобы проверить, как вы справились с заданием, в некоторых заданиях мы будем просить вас записать получившийся результат, в других — попросим записать код.

Рекомендуем вам скачать датасет , самостоятельно создать Python-ноутбук для его выполнения, а в LMS прикладывать лишь требуемые результаты.

Итак, для начала предлагаем проверить набор данных на наличие пропусков.

Определите название колонки, в которой больше всего пропусков, и запишите ее название в поле ответов.

In [42]:
import pandas as pd

data=pd.read_csv("police.csv", sep=",")   # sep is used for in case the data in the original table are seperated using a seperator, so we tell how to read the data



# we read the data and store it in the dataframe

91741

In [9]:
#data.head(10)  #only showing ten from the top


# Load the dataset
df = pd.read_csv('police.csv')

# Check for missing values
missing_values = df.isnull().sum()

# Identify the column with the most missing values
column_with_most_missing_values = missing_values.idxmax()



# Print the result
print(column_with_most_missing_values)

county_name

In [19]:
import pandas as pd

# Load the CSV file into a DataFrame
police = pd.read_csv('police.csv', sep=',')

print("Columns before deletion:", police.columns.values.tolist())

police = police.drop('county_name', axis=1)   #need to assign the result back to the dataframe after dropping it

print("Columns after deletion:", police.columns.values.tolist())


## THE CORRECT METHOD TO DO IT, Place the column in the square bracket, use the axis and inplace=True

import pandas as pd
police = pd.read_csv('police.csv', sep=',')
police.drop(['county_name'], axis = 1 , inplace = True)

Columns before deletion: ['stop_date', 'stop_time', 'county_name', 'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw', 'violation', 'search_conducted', 'search_type', 'stop_outcome', 'is_arrested', 'stop_duration', 'drugs_related_stop']
Columns after deletion: ['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw', 'violation', 'search_conducted', 'search_type', 'stop_outcome', 'is_arrested', 'stop_duration', 'drugs_related_stop']

Задание 2.2 Исследование датасета (продолжение)
Мы продолжаем работать с датасетом Pandas practices. В этом задании вам необходимо написать программу, которая удаляет столбец с наибольшим количеством пропусков. 

Подсказка: используйте результаты ранее выполненного задания, выводить на экран ничего не требуется.

In [35]:
data["driver_gender"].value_counts()  #value counts helps to count the type of data for each type
# далее запишите ваш код

driver_gender
M    62895
F    23511
Name: count, dtype: int64

In [40]:
# NEED TO GET THE NUMBER OF TIMES POLICE STOP PEOPLE


# Load the dataset
df = pd.read_csv('police.csv')

# Statement 1: Мужчин останавливают чаще, чем женщин
male_stops = df[df['driver_gender'] == 'M'].shape[0]
female_stops = df[df['driver_gender'] == 'F'].shape[0]
print("Statement 1:", male_stops > female_stops)

# Statement 2: Чаще всего останавливают мужчин в возрасте от 40 до 50 лет
stops_by_age = df[df['driver_gender'] == 'M']['driver_age'].value_counts()
print("Statement 2:", stops_by_age.index[0] >= 40 and stops_by_age.index[0] <= 50)

# Statement 3: Остановлено более 3 тыс. водителей в возрасте 20 лет
stops_at_20 = df[df['driver_age'] == 20].shape[0]  #returns the first shape, if the matrix is 2*3 then shape[0] is 2
print("Statement 3:", stops_at_20 > 3000)

# Statement 4: Остановлено менее 50 водителей-женщин в возрасте старше 80 лет
stops_female_over_80 = df[(df['driver_gender'] == 'F') & (df['driver_age'] > 80)].shape[0]
print("Statement 4:", stops_female_over_80 < 50)

# Спасибо за ваше решение! Вы получили нужный результат!
# 
# Чтобы получить ответ на вопрос, водителей какого пола в датасете больше, используйте код:
# 
# police['driver_gender'].value_counts(normalize=True)
# 
# Утверждения “Остановлено более 3 тыс. водителей в возрасте 20 лет” и “Остановлено менее 50 водителей-женщин в возрасте старше 80 лет” являются истинными. Чтобы проверить это используйте код: 
# 
# 
# df[df['driver_age']==20.].shape[0]
# 
# df[(df['driver_gender']=='F') &
# 
# df[(df['driver_gender']=='F') & (df['driver_age']>80.)].shape[0
# 
# Однако, утверждать, что “Чаще всего останавливают мужчин в возрасте от 40 до 50 лет” и “Мужчин останавливают чаще, чем женщин” мы не можем, так как мы не знаем пропорции по водителям в генеральной совокупности.

data.shape[1]

Statement 1: True
Statement 2: False
Statement 3: True
Statement 4: True

15

In [7]:
# начальный код

import random
import pandas as pd

random.seed(10)

list_metrics = []

for i in range(0,300):
  n = random.randint(-100,1000)
  list_metrics.append(n)

list_metrics = pd.DataFrame({'Прирост': list_metrics})
list_metrics

# далее будет код шаблона
result1=round((list_metrics['Прирост'].std()),2)   # Need to use the "['Прирост']" to get just the value and not the whole datatype etc


result2=round(list_metrics['Прирост'].max()-list_metrics['Прирост'].mean(),2)

514.5433333333333

In [21]:
from sklearn.datasets import load_iris

iris = load_iris()

# Convert the dataset to a Pandas DataFrame
import pandas as pd

iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df['species'] = iris.target

# Print the number of rows and columns in the DataFrame
print(iris_df.shape)

(150, 5)

In [30]:
# Replace target values with target names
iris_df.count()

iris_df.describe()

average_values = iris_df.mean()

highest_average_column = average_values.idxmax()


print("\nAverage values:\n", average_values)

print("\nColumn with the highest average value:", highest_average_column)

# To find the number of null values

iris_df.fillna(0, inplace=True)
iris_df.drop_duplicates(inplace=True)
num_samples=iris_df.shape[0]

num_samples
    
    # Чтобы получить количество пустых значений (NaN), используйте функцию isna().
    # Чтобы получить заменить пустые значения (NaN) на нули, используйте функцию fillna().
    # Чтобы получить количество дублирующихся строк, используйте функцию duplicated().
    # Чтобы удалить дублирующиеся строки, используйте функцию drop_duplicates().

Average values:
 sepal length (cm)    5.843624
sepal width (cm)     3.059732
petal length (cm)    3.748993
petal width (cm)     1.194631
species              0.993289
dtype: float64

Column with the highest average value: sepal length (cm)

149

In [33]:
import pandas as pd

# Assume 'df' is the dataset

# Calculate the new column and sort the table
iris_df['new_column'] = iris_df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']].sum(axis=1) / iris_df['sepal length (cm)']
iris_df.sort_values(by='new_column', inplace=True)

# Get the value for the 102nd row
value = iris_df.iloc[101]['new_column']  # Index 101 is used because Python uses 0-based indexing

print("Value for the 102nd row:", round(value, 3))

Value for the 102nd row: 2.507

Какие в ней данные? Как они распределены? Рассчитайте минимальные и максимальные значения переменных, медиану и тд - попробуйте с помощью отдельных функций min(), max() и тд., и используя функцию для describe() получения описательной статистики. Среднее значение какой колонки оказалось самым большим? Введите в поле ответов название этой колонки.

In [73]:
# Need to find what data, are there in the dataset

print()  #need to load the data, use the statistic method,and then find the largest mean value

Empty DataFrame
Columns: []
Index: []

Строки датасета соответствуют образцам (цветкам Ириса). Первые 4 колонки являются признаками, которые описывают образцы длина чашелистика, ширина чашелистика, длина лепестка, ширина лепестка (в см). Последняя колонка называется target. В ней содержится информация о принадлежности цветка к определенному виду (Iris setosa, Iris virginica или Iris versicolor). Вы можете посмотреть атрибут target_names, чтобы узнать соответствие между значениями из колонки target и названиями видов. Замените значения в колонке target значениями, которые хранятся в атрибуте target_names. Сколько цветков каждого вида Ириса содержится в датасете? В поля ответов введите целочисленное значение.

In [74]:
# from sklearn.datasets import load_iris
# 
# # Загрузка датасета Iris
iris = load_iris()
# 
# # Замена значений в колонке target на названия видов
# target_names_mapping = {i: name for i, name in enumerate(iris.target_names)}
# iris_target_names = [target_names_mapping[i] for i in iris.target]
# 
# # Подсчет количества цветков каждого вида Ириса
# iris_counts = {name: iris_target_names.count(name) for name in set(iris_target_names)}
# 
# # Вывод результатов
# for name, count in iris_counts.items():
#     print(f"Вид Ириса {name}: {count} цветков")

import pandas as pd 
from sklearn import datasets
 
iris = datasets.load_iris()
 
df = pd.DataFrame(
    iris.data, 
    columns=iris.feature_names
    )
 
df['target'] = iris.target
 
# Map targets to target names
target_names = {
    0:'setosa',
    1:'versicolor', 
    2:'virginica'
}
 
df['target_names'] = df['target'].map(target_names)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [38]:
import pandas as pd

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame from the dataset
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

# Group by species and calculate the mean of sepal width
grouped = df.groupby('species')['sepal length (cm)'].mean()

# Print the result
print(grouped)

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal length (cm), dtype: float64

/tmp/ipykernel_98962/4082454877.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = df.groupby('species')['sepal length (cm)'].mean()